/correlation_matrix.png
/education_distribution.png
/job_distribution.png
/success_rate_by_contact_and_month.png
/success_rate_by_education_and_job.png
/success_rate_by_job.png
/target_distribution.png
